.homeMain {
    /* border: 1px solid red; */
    width: 100%;
    height: clamp(500px, calc(100vh - 80px), 1000px);
    padding: calc(80px) 1% 0;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;

    background: url("../assets/home/background-home-mobile.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;

}

.heroCopy {
    /* border: 1px solid blue; */
    width: 100%;
    height: clamp(270px, 40vh, 400px);
    /* height: 40vh; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;

}

.heroHeadline {
    font-family: "Barlow Condensed", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2.7px;
    font-weight: 300;
    color: var(--dusty-lavender);
}

.heroHeadlineSpace {
    font-family: "Bellefair", serif;
    font-size: 5rem;
}

.heroBodyCopy {
    width: 85%;
    color: var(--dusty-lavender);
    font-size: 15px;
    text-align: center;
    line-height: 1.5rem;
}

@media screen and (min-width: 768px) {
    .homeMain {
        background: url("../assets/home/background-home-tablet.jpg");
        background-size: 100%;
        background-position-y: center;
    }
}