.btn {
    width: 50%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    
    background-color: var(--starry-white);
    font-family: "Bellefair", serif;
    font-size: 1.25rem;
    cursor: pointer;
    margin: 0 auto;
}