.btn {
    border: none;
    background-color: hsl(0,0%,100%,0.0);
    width: 50px;
    aspect-ratio: 1/1;

    cursor: pointer;
    z-index: 2;
}

.hidden {
    display: none;
}

@media screen and (min-width: 768px) {
    .btn {
        display: none;
    }
}