.navbarContainer {
    /* border: 1px solid red; */
    background-color: gray;
    width: 90%;
    height: 10%;
    padding: 5%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    position: relative;

}

.hidden {
    display: none;
}

.navbar {
    background-color: hsl(0, 0%, 100%, 0.1);
    backdrop-filter: blur(10px);
    height: 100vh;
    width: 70%;
    display: block;
    position: fixed;
    top: 0;
    right: 0;
}

.navList {
    padding: 15vh 0 0 15%;
    list-style: none;
    counter-set: nav-counter;
}

.navListLink {
    color: var(--starry-white);
    /* font-family: "Barlow Condensed, sans-serif"; */
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}

.navListLink::before {

    counter-increment: nav-counter;
    content: "0"counter(nav-counter);

    font-weight: bold;
}
