.navbarContainer {
    border: 1px solid red;
    width: 100vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

}

.navbar {
    display: none;
    position: relative;
}

.navbar--active {
    display: block;
    position: absolute;
}
