@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital@0;1&family=Barlow:ital,wght@0,400;0,700;1,400;1,700&family=Bellefair&display=swap');

.navbarContainer {
    /* border: 1px solid red; */
    /* background-color: gray; */
    width: 90%;
    height: 10%;
    padding: 5%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    position: relative;

}

.hidden {
    display: none;
}

.navbar {
    background-color: hsl(0, 0%, 100%, 0.1);
    backdrop-filter: blur(1000px);
    height: 100vh;
    width: 65%;
    display: block;
    position: fixed;
    top: 0;
    right: 0;
}

.navList {
    padding: 12vh 0 0 15%;
    list-style: none;
    counter-reset: nav-counter -1;
}

.navListLink {
    margin: 12% 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    
    color: var(--starry-white);
    font-family: "Barlow Condensed", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    text-decoration: none;
    
}

.navListLink::before {
    /* border: 1px solid red; */
    display: block;
    width: 35px;
    counter-increment: nav-counter;
    content: "0"counter(nav-counter);

    font-weight: bold;
}
